@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial,
    sans-serif;
  text-decoration-thickness: auto;
  text-decoration-style: solid;
  line-height: 1.5;
  font-size: 1.1375rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: calc(100% + 8%);
}

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
  hyphens: auto;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
