@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
  text-decoration-thickness: auto;
  text-decoration-style: solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

.markdown-styles > h1 {
  /* color: theme(colors.lightMode.text); */
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 16px;
  margin-top: 16px;
}

.markdown-styles > h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.markdown-styles > #hint-area > h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.markdown-styles > code {
  padding-bottom: 16px;
  margin-top: 16px;
}

.markdown-styles > ul {
  list-style-type: disc;
}
.markdown-styles > ul > li {
  margin-left: 32px;
}
.markdown-styles > p:first-of-type {
  margin-top: 18px;
  margin-bottom: 18px;
}

@tailwind utilities;
